body {
  font-size: 18px;
  color: white;
  background-color: #111;
}

.flex-row {
  display: flex;
}

.main-content {
  display: flex;
}

.all-messages-container {
  display: flex;
  justify-content: center;
}
.all-messages-container > div {
  margin-right: 20px;
}

.mid-content {
  margin: 0 10px;
  width: 800px;
}

.messages-container {
}
.messages-container > div {
}
.message {
  display: flex;
  margin-bottom: 8px;
  width: 400px;
}
.message img {
  margin-right: 5px;
  height: fit-content;
  cursor: pointer;
}
.message.is-admin .message-username {
  background-color: red;
  color: white;
}
.message.is-mod .message-username {
  background-color: blue;
  color: white;
}
.message.is-sub .message-username {
  color: #0f0;
}

.message-username {
  font-size: 12px;
  margin-bottom: 1px;
}

.message-text {
  overflow-wrap: anywhere;
}
